MPapp/static/results/*
!MPapp/.gitkeep
!MPapp/static/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.results.txt
!MPapp/static/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.results.json
!MPapp/static/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.log
MPapp/__pycache__
.vscode/
*.rdb
*errlog.txt
*.kmc*
*.vcf.gz*
*.list
*.bin
*.bam
MPapp.egg-info/
MPapp.egg-info/*.txt
build
malaria-db/
MPapp/static/Plasmodium_falciparum.ASM276v2.dna.chromosome.1.fa.gz
MPapp/static/Plasmodium_falciparum.ASM276v2.dna.chromosome.1.fa.gz
*.gz
*.fai
*.fna
*.gzi
MPapp/static/fastafiles/AAKM01.fasta
MPapp/static/fastafiles/malariae.fasta
*.fasta
*.log
*.bai
*.json
*.txt
