MPapp/results/*
!MPapp/.gitkeep
!MPapp/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.results.txt
!MPapp/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.results.json
!MPapp/results/d61749da-9e7b-40a2-bc98-6b8b3798dbae.log
MPapp/__pycache__
.vscode/
*.rdb
*errlog.txt
*.kmc*
*.vcf.gz*
*.list
*.bin
*.bam
MPapp.egg-info/
MPapp.egg-info/*.txt
build
malaria-db/
MPapp/static/Plasmodium_falciparum.ASM276v2.dna.chromosome.1.fa.gz
MPapp/static/Plasmodium_falciparum.ASM276v2.dna.chromosome.1.fa.gz
*.gz
