{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

{% endblock %}
{% block content %}
<div id="desc", class="container">
  <div id="first" class="row justify-content-center">
    <div class="col-md-12">      
      {{macros.description()}}
    </div>
  </div>
</div>
<div id="uploader", class="container">
  <div id="first" class="row justify-content-center">
    <div class="col-md-12">      
      {{macros.file_dropper(random_id)}}
    </div>
  </div>
</div>
{% endblock %}