{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">malaria-profiler</h1>
    <h4 class="display-4">banner</h4>
    <p class="lead">Short Description</p>
    <hr class="my-4">
    <p>Long Description</p>
    <br>
    <br>
    <p class="lead">
      <a class="btn btn-dark btn-lg" href="{{ url_for('main.analysis') }}" role="button">Run analysis</a>
    </p>
  </div>
<div class="jumbotron">
  <h1 class="display-4">Contact</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="#" role="button"><i class="fa-brands fa-github"></i></a>
    <a class="btn btn-dark btn-lg" href="#" role="button"><i class="fa-brands fa-twitter"></i></a>
    <a class="btn btn-dark btn-lg" href="#" role="button"><i class="fa-solid fa-school"></i></a>
  </p>

    
</div>
{% endblock %}