{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<div id="first" class="row justify-content-center">
  <div class="col-md-7">    
    <div id="first" class="row justify-content-center">
      <h1 class="display-4">malaria-profiler</h1>
    </div>
    <div id="first" class="row justify-content-center">
      <p class="lead">
        Welcome to the webserver of <b> Malaria-Profiler </b> - a pipeline which allows users to analyse <i>Plasmodium</i> malaria whole genome sequencing data to predict
        species and potential drug resistance. Follow the instructions below to upload a new sample or view analysed runs.
        If you want to check example analysis click here.
      </p>
        
    </div>
 
    <div id="first" class="row justify-content-center">
      <h1 class="display-5">How does it work?</h1>
    </div>
   
    <div id="first" class="row justify-content-center">
      <p class="lead">
        The pipeline searches for small variants and big deletions associated with drug resistance. It will also report the species and geographical location. By default it uses Trimmomatic
        to trim the reads, BWA (or minimap2 for nanopore) to align to the reference genome and GATK (open source v4) to call variants.
      </p>
    </div> 
  </div>
</div>

<div class="container">
  <div id="second" class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-dark">
        <div class="card-header bg-dark text-white text-center">
            Step 1 - Profile your sample
        </div>
        <div class="card-body">
            <p class="card-text">
              Upload your next generation sequencing data in fastq or bam format. When you upload your data, the run will be be assigned a <b>Result ID</b> - 
              please take a note of this ID.
            </p>
          <div class="row justify-content-center">
            <a class="btn btn-success btn-lg" href="{{ url_for('main.analysis') }}" role="button">Run analysis</a>
          </div>            
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-dark">
        <div class="card-header bg-dark text-white text-center">
            Step 2 - View the results
        </div>
        <div class="card-body">
            <p class="card-text">
              If you have run analysis before, find your results by entering your unique <b>Result ID</b> directly into the search box.</p>
        <div class="row justify-content-center">
          <a class="btn btn-success btn-lg" href="{{ url_for('main.result') }}" role="button">Retrieve results</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="faq" class="row justify-content-center">
  <div id="first" class="row justify-content-center">
    <h1 class="display-5">FAQ</h1>
  </div>
</div>

<!-- vol1 -->
<h5 class="card-header expandable">
  <a data-toggle="collapse" href="#collapse-example-1" aria-expanded="false" aria-controls="collapse-example-1" id="heading-example-1" class="d-block">
      <i class="rotate fa fa-chevron-down "></i>
      Which mutations are being used to prodict resistance?
  </a>
</h5>
<div id="collapse-example-1" class="collapse" aria-labelledby="heading-example-1">
  <div class="card-body">
    <p class="lead">
      Species, resistance and geographical region is predicted using the curated Plasmodium database. This database has been tested using over 10,000 samples
      with genotypic data.
      You can read more about the markers present in the library at the time of testing here or you can take a look at the up to date CSV file here.
    </p>
  </div>
</div>

<!-- vol2 -->
<h5 class="card-header expandable">
  <a data-toggle="collapse" href="#collapse-example-2" aria-expanded="false" aria-controls="collapse-example-2" id="heading-example-2" class="d-block">
      <i class="rotate fa fa-chevron-down "></i>
      Can I run Malaria-Profiler on my own computer?
  </a>
</h5>
<div id="collapse-example-2" class="collapse" aria-labelledby="heading-example-2">
  <div class="card-body">
    <p class="lead">
      If you have access to a linux or osX operating system then you can download the commandline version of Malaria-Profiler. For more information on this please
      visit the github repository. 
  If you would like to create your own instance of this webserver, the code is fully open-source and available at this github repository
    </p>
  </div>
</div>
<!-- vol3 -->
<h5 class="card-header expandable">
  <a data-toggle="collapse" href="#collapse-example-3" aria-expanded="false" aria-controls="collapse-example-3" id="heading-example-3" class="d-block">
      <i class="rotate fa fa-chevron-down "></i>
      Give feedback or request a feature?
  </a>
</h5>
<div id="collapse-example-3" class="collapse" aria-labelledby="heading-example-3">
  <div class="card-body">
    <p class="lead">
      We are always looking to improve Malaria-Profiler. If you see some results that don't look right or would like to see some additional
      functionality in the future, don't hesitate to get in touch via the section on our github page.
    </p>
  </div>
</div>
<!-- vol4 -->
<h5 class="card-header expandable">
  <a data-toggle="collapse" href="#collapse-example-4" aria-expanded="false" aria-controls="collapse-example-4" id="heading-example-4" class="d-block">
      <i class="rotate fa fa-chevron-down "></i>
      How to cite?
  </a>
</h5>
<div id="collapse-example-4" class="collapse" aria-labelledby="heading-example-4">
  <div class="card-body">
    <p class="lead">Phelan, J. E. et al. in press</p>
  </div>
</div>
<br>

<div class="row justify-content-center">
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="#" role="button" title="GitHub"><i class="fa-brands fa-github"></i></a>
    <a class="btn btn-info btn-lg" href="#" role="button" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
    <a class="btn btn-primary btn-lg" href="https://pathogenseq.lshtm.ac.uk" role="button", title="PathogenSeq webpage"><i class="fa-solid fa-school"></i></a>
  </p>
</div>             
<hr>
<div id="first" class="row justify-content-center">
  <p>
  <b>Disclaimer: </b> This tool is for Research Use Only. It has not been approved, cleared, or licensed by any regulatory authority.
  By submitting sequence data the user acknowledges no intended medical purpose or objective such as clinical diagnosis, patient management, or human clinical trials.
  </p>
</div>
{% endblock %}